.event_list-event_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.event_list-days_range_main_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event_list-main_container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
  padding: 32px;
}
